.vs/
packages/
/Capture.AForge/bin/
/Capture.AForge/obj/
/Capture.Core/bin/
/Capture.Core/obj/
/Capture.Desktop/bin/
/Capture.Desktop/obj/
/Capture.FFmpeg/bin/
/Capture.FFmpeg/obj/
/Common.Utils/obj/
/Common.Utils/bin/

